body{
	overflow-x: hidden;
}


#about-icon{
	padding: 1vmax;
	margin-top: 2vh;
	display: inline-block;
}

.navbar{
	margin: 0;
	padding: 0;
}

#myCarousel{
	width: 100vw;
	margin: 0;
	padding: 0;
	height: 100vh;
}
.carousel-inner{
	width: 100vw;
	height: 100vh;
}
.item{
	height: 100vh;
	width: 100vw;
}

.brands{
	transition: 0.1s;
	border-radius: 10px;
	width: 18vmax;
	margin-bottom: 5vmin;
	height: 20vmin;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.brands:hover{
	transform: scale(1.1);
	transition: 0.1s;
}

.attachment-medium{
	height: 35vmin;
	width: 18vmax;
}

.title a{
	text-decoration: none;
	color: blue;
}

.title-brands a{
	text-decoration: none;
}

.title-brands{
	padding-left: 1vmax;
	text-align: left;
	color: black;
	margin-top: 3vmin;
}

.title a:hover{
	color: darkblue;
}

.modal-header{
	padding: 1vmin;
}

#close-modal{
	margin: 1vmin;
}

#cart-img-thumbnail{
	width: 12vmax;
	height: 14vmax;
}

#brands-img-thumbnail{
	width: 15vmax;
	height: 18vmax;
}
.row, .col{
	margin: 0;
	padding: 0;
}

#contain{
	margin-bottom: 5px;
	padding: 3vmin 1vmin;
}
#contain:hover{
	box-shadow: 0px 0px 2px 2px #ddd;
}
#contain h5{
	margin-left: 1vmax;
	text-align: left;
}
#contain:hover h5{
	color: blue;
	cursor: default;
}

.thumbnail{
	padding: 3vmin 1vmin;
}
.thumbnail img{
	height: 60vh;
	width: auto;
}

#single-submit{
	margin-top: 2vmin;
}

.brand-sort{
	display: inline-block;
	text-align: right;
	padding: 0 2vmin;
	cursor: pointer;	
}

.sidebar-div{
	border: solid #ddd;
	border-width: 0.25px 1px;
	background-color: #fefefe;
}

.sidebar-div h4{
	margin: 0;
}

.checkbox input{
	background: none;
}

#log-out-text a{
	text-decoration: none;
	color: black;
	cursor: pointer;
	font-weight: bold;
}

